input, textarea, .textarea {
    cursor: url(/style/images/textcursor.cur), text !important;
}
input.inpute {
    cursor: pointer !important;
}
.width-100{
    width: 100vw;
}
.overflow-x-hidden{
    overflow-x: hidden;
}
.overflow-hidden{
    overflow: hidden;
}
.fullone{
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: 1000;
}
.cursor-pointer{
    cursor: pointer;
}
.filter-background-blur{
    background-color: rgba(51, 51, 51, 0.274);
    backdrop-filter: blur(2px);
}
.border-raduis {
    border-radius: 50px;
}
.border-raduis:hover {
    transform: translate3d(0,2px,0);
}
.slanted:hover{
    transform: translate3d(0,2px,0);
}
.borders{
    border: 1px solid black;
}

.options p:hover{
    background: rgba(51, 51, 51, 0.199);
}

.hover-gray:hover{
    background-color: rgba(51, 51, 51, 0.199);
}
input[type="color"]{
    border: none;
    height: 5px;
    padding: 0;
    margin: 0;
}

.z-100{
    z-index: 1000;
}
.top-menu{
    width: 100vw;
}

a{
    background-image: none !important;
    text-decoration: none !important;
    color: blue !important;
}